# all the folders and files named "node module" will be ignored
node_modules

# exclude files and directories starting with temp in immediate subdirectory of the root
*/temp*

# exclude files and directories starting with temp in any subdirectory 2 levels below of the root
*/*temp*

# exclude file and directories in the root directory whose names are a one-character extension if temp
temp?

# exclude all markedown files except the files named README
*.md
!README.md
